name: Test & Build

on:
  push:
    branches: main
  pull_request:
    branches: main

env:
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}

permissions: write-all

jobs:
  checkLicense:
    name: Validate Unity license
    runs-on: ubuntu-latest
    steps:
      # Check that our Unity License is valid
      - name: Unity - Activate
        uses: game-ci/unity-activate@v2

  # ------------------
  # THE FOLLOWING IS COPIED FROM https://game.ci/docs/github/builder#complete-example
  buildForAndroid:
    needs: [checkLicense]
    name: Build for Android
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      # Checkout our code
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          lfs: true
      # Cache
      - uses: actions/cache@v2
        with:
          path: ./Library
          key: Library-PhunkyPhrogs-Android
          restore-keys: |
            Library-PhunkyPhrogs-
            Library-
      # Build our game
      - name: Unity - Builder
        uses: game-ci/unity-builder@v2.2.0
        with:
          # Platform that the build should target.
          targetPlatform: Android
          # Relative path to the project to be built.
          projectPath: .
          # Name of the build. Should not include a file extension.
          buildName: TestBuild
          # Path where the builds should be stored.
          buildsPath: ./build
      # Save our build
      - uses: actions/upload-artifact@v2
        with:
          name: Build
          path: build
  # END COPIED SECTION
  # ------------------
      - name: Copy out file from volume
        run: |
          sudo cp /home/runner/work/Phunky-Phrogs/Phunky-Phrogs/build/Android/TestBuild.apk /home/TestBuild.apk

      - name: Download our build
        uses: actions/download-artifact@v3.0.2
        with:
          # Artifact name
          name: Build
          # Destination path
          path: home/TestBuild.apk
