name: Run Unity Tests

on:
  workflow_dispatch: {}

env:
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}

jobs:

  runUnityTests:
  
    name: Run Unity Tests
    
    runs-on: ubuntu-latest
    
    steps:
    
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          lfs: true
        
      # Cache
      - name: Cache files
        uses: actions/cache@v2
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-
      
      # Run some tests.
      - name: Run Unity Tests
        uses: game-ci/unity-test-runner@v2
        with:
          projectPath: .
          githubToken: ${{ secrets.GITHUB_TOKEN }}
        
      # Return our license to free up a license usage spot.
      - name: Unity - Return License
        uses: game-ci/unity-return-license@v2.0.0
        
